@font-face {
  font-family: "Algerian";
  src: url("../font/Algerian Regular.ttf") format("truetype");
}

#menu-bar {
  position: relative;
  top: 0px;
  width: 100vw;
  height: 11vh;

  display: flex;
  justify-content: space-between;

  & #brand {
    display: flex;
    align-items: center;
    & #logo {
      margin: 3px 0px 0px 3px;
      height: 10vh;
      width: auto;
    }

    & #brand-name {
      font-family: "Algerian", sans-serif;
      font-size: 3em;
      color: #3a00ad;
      margin: auto 0px auto 10px;
    }
  }

  & #user-actions {
    position: relative;
    width: 50%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    & .new-request {
      border-radius: 10px;
      width: 13vw;
      height: 6vh;
    }

    & #user-name {
      font-size: 2em;
      font-weight: 700 !important;
      color: #000;
      margin: auto 40px auto 15px;
    }
  }
}

#content {
  height: 89vh;
  width: 100vw;

  padding: 2% 6%;

  & #table-tickets {
    height: 80vh;
    overflow: auto;

    & table {
      width: 100%;
      text-align: center;
      border-collapse: collapse;
      border: 1px solid black;

      & thead {
        position: sticky;
        top: 0;
        z-index: 1;
        border: 1px solid black;
        

        & th{
          background-color: #6998e8;
          border: 1px solid black;
          height: 7.3vh; 
        }
      }
      
      & td{
        height: 6.7vh;
        border: 1px solid black;
      }

      & tr{
        background-color: #f4f4f4;
      }

      & tr:nth-child(odd) {
        background-color: #d4d4d4 !important;
      }


      & .open {
        color: green;
        font-weight: bold;
      }

      & .in-progress {
        color: yellow;
        font-weight: bold;
      }

      & .closed {
        color: red;
        font-weight: bold;
      }
    }
  }
}
