body{
  display: flex;
  flex-direction: column;

  width: 100vw;
  height: 100vh;

  background-size: cover;
  user-select: none;
}

.background {
  background-image: url("../img/PIM_Background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  width: 100vw;
  height: 100vh;
  position: absolute;
  align-items: center;
  justify-content: center;
  z-index: -10000;
}

.opacity {
  opacity: 0.4;
}

.button {
  cursor: pointer;
  background-color: #3A00AD !important;
  color: #FFF !important;
  border-color: #3A00AD !important;
}
