/* CSS GLOBAL */
body {
	display: flex;
	flex-direction: column;
	width: 100vw;
	height: 100vh;
	background-size: cover;
	user-select: none;
}

.background {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	width: 100vw;
	height: 100vh;
	background-image: url("../img/PIM_Background.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	z-index: -10000;
}

.modal-background {
	display: none;
	align-items: center;
	justify-content: center;
	position: absolute;
	height: 100vh;
	width: 100vw;
	background-color: rgb(0, 0, 0, 0.4);
	z-index: 100000;
}

.opacity {
	opacity: 0.4;
}

.inv {
	user-select: none !important;
}

.jinja {
	display: none;
}

.button {
	cursor: pointer;
	background-color: #3a00ad !important;
	color: #fff !important;
	border-color: #3a00ad !important;
	border-radius: 10px;
	border-style: none;
}

#logout {
	color: #000;
	font-size: 2rem;
	margin-left: 10px;
}

div::-webkit-scrollbar {
	width: 12px;
}

div::-webkit-scrollbar-track {
	color: #fff;
	background-color: #d9d9d9;
}

div::-webkit-scrollbar-thumb {
	background-color: #a8a8a8;
}
