<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<link
			rel="shortcut icon"
			href="../static/img/icon.ico"
			type="image/x-icon"
		/>

		<title>{{session['user'].name}}</title>

		<link rel="stylesheet" href="../static/css/reset.css" />
		<link rel="stylesheet" href="../static/css/style.css" />
		<link rel="stylesheet" href="../static/css/chat.css" />

		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
			rel="stylesheet"
		/>

		<script
			src="https://kit.fontawesome.com/a50434ada2.js"
			crossorigin="anonymous"
		></script>
	</head>
	<body>
		<div class="modal-background" id="modal-feedback-background">
			<div id="modal-feedback">
				<div id="menu-bar">
					<h1>Avalie o Atendimento</h1>
					<button
						class="close"
						onclick="openAndClose('modal-feedback-background','flex')"
						aria-label="Fechar"
					>
						<i class="fa-solid fa-xmark"></i>
					</button>
				</div>

				<div id="content">
					<form action="" method="POST">
						<span id="stars">
							<i class="fa-regular fa-star" id="1"></i>
							<i class="fa-regular fa-star" id="2"></i>
							<i class="fa-regular fa-star" id="3"></i>
							<i class="fa-regular fa-star" id="4"></i>
							<i class="fa-regular fa-star" id="5"></i>
						</span>
						<input
							type="number"
							id="feedback-grade"
							hidden
							name="feedback-grade"
						/>
						<input type="submit" class="button" value="Enviar" />
					</form>
				</div>
			</div>
		</div>

		<div id="container">
			<div class="background opacity"></div>
			<div id="menu-bar">
				<span id="brand">
					<img src="../static/img/logo.png" alt="Logo" id="logo" />
					<span id="brand-name">SUPORT AI</span>
				</span>
				<span id="user-name">{{session['user'].name}} </span>
			</div>
			<div id="content">
				<div id="side-bar">
					<!-- TODO: fazer um css para exibir essas informações -->
					{{ticket}}
					<button class="button">Fechar Chamado</button>
					<button
						class="button"
						onclick="openAndClose('modal-feedback-background','flex')"
					>
						Finalizar Atendimento
					</button>
				</div>

				<div id="chat">
					<div id="messages">
						{% for msg in messages%} {% if msg['user_id'] !=
						session['user']['id'] %}
						<!-- Técnico ou IA -->
						<div class="mensage sender">
							<div class="user-mensage">{{msg['name']}} ({{msg['role']}}):</div>
							<p class="mensage-text">
								{{msg['message']}}
								<span class="inv">&nbsp &nbsp &nbsp &nbsp</span>
								<span class="time-stamp">
									{{msg['sent_at'].strftime('%H:%M')}}
								</span>
							</p>
						</div>
						{%else%}
						<!-- Usúario -->
						<div class="mensage receiver">
							<div class="user-mensage">{{msg['name']}}:</div>
							<p class="mensage-text">
								{{msg['message']}}
								<span class="inv">&nbsp &nbsp &nbsp &nbsp</span>
								<span class="time-stamp"
									>{{msg['sent_at'].strftime('%H:%M')}}</span
								>
							</p>
						</div>
						{% endif %} {% endfor %}
						<!-- <div class="mensage sender">
							<div class="user-mensage">Técnico:</div>
							<p class="mensage-text">
								Lorem, ipsum dolor sit amet consectetur adipisicing elit.
								Voluptas, nam! Recusandae pariatur perferendis commodi suscipit
								nostrum! Id nemo magnam voluptate placeat? Soluta quos, esse
								optio alias ea earum dolorum sint!
								<span class="inv">&nbsp &nbsp &nbsp &nbsp</span>
								<span class="time-stamp">20:52</span>
							</p>
						</div>

						<div class="mensage receiver">
							<div class="user-mensage">Você:</div>
							<p class="mensage-text">
								Lorem, ipsum dolor sit amet consectetur adipisicing elit.
								Voluptas, nam! Recusandae pariatur perferendis commodi suscipit
								nostrum!
								<span class="inv">&nbsp &nbsp &nbsp &nbsp</span>
								<span class="time-stamp">20:52</span>
							</p>
						</div>
						<div class="mensage receiver">
							<div class="user-mensage">Você:</div>
							<p class="mensage-text">
								Lorem, ipsum dolor
								<span class="inv">&nbsp &nbsp &nbsp &nbsp</span>
								<span class="time-stamp">20:52</span>
							</p>
						</div>
						<div class="mensage sender">
							<div class="user-mensage">Técnico:</div>
							<p class="mensage-text">
								Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odit
								incidunt quis maiores nesciunt minima velit veritatis eum culpa,
								id itaque vel qui cum sed enim consequatur unde, voluptatum
								iusto quasi, provident veniam saepe quisquam officia quia vitae!
								Quis explicabo qui laudantium aliquam tenetur corporis
								voluptatem veritatis sed ut sit vero iste ad consequuntur, a
								optio ratione. Similique dolores, at, sequi iure quasi assumenda
								tempora atque architecto accusamus, error eveniet autem.
								Facilis, libero enim quod veritatis facere modi
								<span class="inv">&nbsp &nbsp &nbsp &nbsp</span>
								<span class="time-stamp">20:52</span>
							</p>
						</div>
						<div class="mensage receiver">
							<div class="user-mensage">Você:</div>
							<p class="mensage-text">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit.
								Aperiam corporis saepe mollitia quam voluptatem? Minima
								praesentium illum commodi expedita reiciendis.
								<span class="inv">&nbsp &nbsp &nbsp &nbsp</span>
								<span class="time-stamp">20:52</span>
							</p>
						</div>
						<div class="mensage receiver">
							<div class="user-mensage">Você:</div>
							<p class="mensage-text">
								Lorem, ipsum.
								<span class="inv">&nbsp &nbsp &nbsp &nbsp</span>
								<span class="time-stamp">20:52</span>
							</p>
						</div> -->
					</div>
					<div id="chat-bottom">
						<!-- TODO:Terminar o formulario fazer o link funcionar como um botao submit -->
						<form action="/send-msg" method="POST" id="form-mensage-input">
							<input
								type="text"
								name="ticket_id"
								value="{{ticket['id']}}"
								hidden
							/>
							<input type="text" name="message" />
							<div id="icons">
								<a href="">
									<i class="fa-solid fa-paperclip"></i>
								</a>
								<a
									href="#"
									onclick="document.getElementById(`form-mensage-input`).submit();"
								>
									<i class="fa-solid fa-paper-plane"></i
								></a>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<script defer src="../static/js/scripts.js"></script>
		<script defer src="../static/js/stars_script.js"></script>
		<script defer src="../static/js/message_script.js"></script>
	</body>
</html>
