<!-- TODO: Responsividade -->
<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<link
			rel="shortcut icon"
			href="../static/img/icon.ico"
			type="image/x-icon"
		/>

		<title>{{session['user'].name}}</title>

		<link rel="stylesheet" href="../static/css/reset.css" />
		<link rel="stylesheet" href="../static/css/style.css" />
		<link rel="stylesheet" href="../static/css/dashboard.css" />

		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
			rel="stylesheet"
		/>

		<script
			src="https://kit.fontawesome.com/a50434ada2.js"
			crossorigin="anonymous"
		></script>
	</head>
	<body>
		<div class="modal-background" id="modal-new-request-background">
			<div id="modal-new-request">
				<div id="menu-bar">
					<h1>Novo chamado</h1>
					<button
						class="close"
						onclick="openAndClose('modal-new-request-background','flex')"
						aria-label="Fechar"
					>
						<i class="fa-solid fa-xmark"></i>
					</button>
				</div>
				<div id="content">
					<form action="/new-ticket" method="POST" id="form-new-request">
						<label for="title">
							<span class="label-text">Título:</span>
						</label>
						<div class="title">
							<input
								type="text"
								id="title"
								name="title"
								placeholder="Digite o Título"
								required
							/>
						</div>

						<label for="category">
							<span class="label-text">Categoria:</span>
						</label>

						<div class="category">
							<select
								name="category"
								id="category"
								required
								onchange="document.getElementById('category').style.color = 'black'"
								style="color: #767676"
							>
								<option disabled selected class="placeholder">
									Selecione a Categoria:
								</option>
								<!-- TODO: Colocar o resto dos categorios com jinja for -->
								<option value="rede">Rede</option>
								<option value="sistema">Sistema</option>
								<option value="hardware">Hardware</option>
								<option value="TESTE">
									TESTE
									<!-- DEBUG: remove later -->
								</option>
							</select>
						</div>
						<label for="description">
							<span class="label-text">Descrição:</span>
						</label>
						<div class="description">
							<textarea
								id="description"
								name="description"
								placeholder="Insira oque aconteceu de forma clara e concisa"
								rows="5"
								required
							></textarea>
						</div>

						<input type="submit" class="button" value="Enviar" />
					</form>
				</div>
			</div>
		</div>
		<div id="container">
			<div class="background opacity"></div>
			<div id="menu-bar">
				<span id="brand">
					<img src="../static/img/logo.png" alt="Logo" id="logo" />
					<span id="brand-name">SUPORT AI</span>
				</span>
				<div id="user-actions">
					<input
						type="button"
						class="button new-request"
						value="Novo Chamado"
						onclick="openAndClose('modal-new-request-background','flex')"
					/>
					<span id="user-name">
						<span class="jinja">
							{{session['user'].name}}
							<a id="logout" href="\logout">
								<i class="fa-solid fa-right-from-bracket"></i>
							</a>
						</span>
					</span>
				</div>
			</div>
			<div id="content">
				<div id="table-tickets">
					<table>
						<thead>
							<tr>
								<th id="num-request">Nº Chamado</th>
								<th id="tittle">Título</th>
								<th id="category">Categoria</th>
								<th id="status">Status</th>
								<th id="action">Ação</th>
								<th id="date">Data</th>
							</tr>
						</thead>

						<tbody class="tbody">
							<span class="jinja"> {% for table_item in tickets%} </span>
							<tr>
								<td><span class="jinja">{{table_item['ticket_id']}}</span></td>
								<td><span class="jinja">{{table_item['title']}}</span></td>
								<td><span class="jinja">{{table_item['category']}}</span></td>
								<td class="{{table_item['status']}}">
									<span class="jinja">
										{% if table_item['status'] == 'ia' %} Triagem IA {% elif
										table_item['status'] == 'open' %} Aberto {% elif
										table_item['status'] == 'closed' %} Fechado {% elif
										table_item['status'] == 'in-progress' %} Em Andamento {%
										else %} {{table_item['status']}} {% endif %}	
									</span>
								</td>
								<td>
									<form
										id="form-open-ticket-{{ table_item['ticket_id'] }}"
										action="/open-ticket"
										method="POST"
									>
										<input
											type="hidden"
											name="ticket_id"
											value="{{ table_item['ticket_id'] }}"
										/>
										<a
											href="#"
											onclick="document.getElementById(`form-open-ticket-{{ table_item['ticket_id'] }}`).submit();"
										>
											<span class="jinja">
												{% if table_item['status'] == 'open' or
												table_item['status'] == 'in-progress' or
												table_item['status'] == 'ia' %} Abrir Chamado {% elif
												table_item['status'] == 'closed' %} Reabrir Chamado {%
												else %} {{ table_item['status'] }} {% endif %}
											</span>
										</a>
									</form>
								</td>
								<td>
									<span class="jinja"
										>{{table_item['created_at'].strftime('%d/%m/%y')}}</span
									>
								</td>
							</tr>
							<span class="jinja"> {% endfor %} </span>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		
		<!-- JavaScript -->
		<script defer src="../static/js/scripts.js"></script>
	</body>
</html>
