<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="shortcut icon"
      href="../static/img/icon.ico"
      type="image/x-icon"
    />
    
    <title>{{session['user'].name}}</title>

    <link rel="stylesheet" href="../static/css/reset.css" />
    <link rel="stylesheet" href="../static/css/style.css" />
    <link rel="stylesheet" href="../static/css/dashboard.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="background opacity"></div>
    <div id="menu-bar">
      <span id="brand">
        <img src="../static/img/logo.png" alt="Logo" id="logo" />
        <span id="brand-name">SUPORT AI</span>
      </span>

      <div id="user-actions">
        <button class="new-request button">Novo Chamado</button>
        <span id="user-name">{{session['user'].name}}</span>
      </div>
    </div>
    
    <div id="conteudo">
      <table>
        <thead>
          <tr>
            <th id="chamado">Nº Chamado</th>
            <th>Título</th>
            <th>Categoria</th>
            <th>Status</th>
            <th>Ação</th>
            <th>Data</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Meu sistema não abre <a href="\logout">Sair</a></td>
            <td>Sistema</td>
            <td class="aberto">Aberto</td>
            <td><a href="">Abrir chamado</a></td>
            <td>19/03/2025</td>
          </tr>
          <tr>
            <td>2</td>
            <td>Erro de Rede</td>
            <td>Rede</td>
            <td class="em-progresso">Em Progresso</td>
            <td><a href="">Abrir chamado</a></td>
            <td>10/04/2025</td>
          </tr>
          <tr>
            <td>3</td>
            <td>Tela Azul</td>
            <td>Windows</td>
            <td class="fechado">Fechado</td>
            <td><a href="">Reabrir chamado</a></td>
            <td>23/03/2025</td>
          </tr>
          <tr>
            <td>4</td>
            <td>Computador Travando</td>
            <td>Hardware</td>
            <td class="em-progresso">Em Progresso</td>
            <td><a href="">Abrir chamado</a></td>
            <td>01/04/2025</td>
          </tr>
          <tr>
            <td>5</td>
            <td>Arquivos Corrompidos</td>
            <td>Arquivos</td>
            <td class="aberto">Aberto</td>
            <td><a href="">Abrir chamado</a></td>
            <td>29/02/2025</td>
          </tr>
          <tr>
            <td>6</td>
            <td>Rede Lenta</td>
            <td>Rede</td>
            <td class="fechado">Fechado</td>
            <td><a href="">Reabrir chamado</a></td>
            <td>02/02/2025</td>
          </tr>
          <tr>
            <td>7</td>
            <td>Erro de login no sistema</td>
            <td>Sistema</td>
            <td class="em-progresso">Em Progresso</td>
            <td><a href="">Abrir chamado</a></td>
            <td>30/01/2025</td>
          </tr>
          <tr>
            <td>8</td>
            <td>Erro de Rede</td>
            <td>Rede</td>
            <td class="aberto">Aberto</td>
            <td><a href="">Abrir chamado</a></td>
            <td>17/03/2025</td>
          </tr>
          <tr>
            <td>9</td>
            <td>O sistema não abre</td>
            <td>Sistema</td>
            <td class="fechado">Fechado</td>
            <td><a href="">Reabrir chamado</a></td>
            <td>10/04/2025</td>
          </tr>
          <tr>
            <td>10</td>
            <td>Sistema Lento</td>
            <td>Sistema</td>
            <td class="em-progresso">Em Progresso</td>
            <td><a href="">Abrir chamado</a></td>
            <td>27/02/2025</td>
          </tr>
          <tr>
            <td>11</td>
            <td>Erro na rede</td>
            <td>Rede</td>
            <td class="aberto">Aberto</td>
            <td><a href="">Abrir chamado</a></td>
            <td>13/03/2025</td>
          </tr>
          <tr>
            <td>12</td>
            <td>Login Inválido</td>
            <td>Sistema</td>
            <td class="fechado">Fechado</td>
            <td><a href="">Reabrir chamado</a></td>
            <td>19/01/2025</td>
          </tr>
          <tr>
            <td>1</td>
            <td>Meu sistema não abre</td>
            <td>Sistema</td>
            <td class="aberto">Aberto</td>
            <td><a href="">Abrir chamado</a></td>
            <td>19/03/2025</td>
          </tr>
          <tr>
            <td>1</td>
            <td>Meu sistema não abre</td>
            <td>Sistema</td>
            <td class="aberto">Aberto</td>
            <td><a href="">Abrir chamado</a></td>
            <td>19/03/2025</td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
