<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<link
			rel="shortcut icon"
			href="../static/img/icon.ico"
			type="image/x-icon"
		/>

		<title>{{session['user'].name}}</title>

		<link rel="stylesheet" href="../static/css/reset.css" />
		<link rel="stylesheet" href="../static/css/style.css" />
		<link rel="stylesheet" href="../static/css/dashboard.css" />

		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
			rel="stylesheet"
		/>
	</head>
	<body>
		<div class="background opacity"></div>
		<div id="menu-bar">
			<span id="brand">
				<img src="../static/img/logo.png" alt="Logo" id="logo" />
				<span id="brand-name">SUPORT AI</span>
			</span>
			<div id="user-actions">
				<input type="submit" class="button new-request" value="Novo Chamado" />
				<span id="user-name">{{session['user'].name}} </span>
				<!-- DEBUG: tirar depois -->
				<a href="\logout">Sair</a>
			</div>
		</div>
		<div id="content">
			<div id="table-tickets">
				<table>
					<thead>
						<tr>
							<th id="num-request">Nº Chamado</th>
							<th id="tittle">Título</th>
							<th id="category">Categoria</th>
							<th id="status">Status</th>
							<th id="action">Ação</th>
							<th id="date">Data</th>
						</tr>
					</thead>

					<tbody class="tbody">
						<span class="jinja"> {% for table_item in tickets%} </span>
						<tr>
							<td>{{table_item['id_ticket']}}</td>
							<td>{{table_item['description']}}</td>
							<td>{{table_item['keywords']}}</td>
							<td class="{{table_item['status']}}">{{table_item['status']}}</td>
							<td><a href="">{{table_item['action']}}</a></td>
							<td>{{table_item['created_at']}}</td>
						</tr>
						<span class="jinja"> {% endfor %} </span>
						<tr>
							<td>1</td>
							<td>Meu sistema não abre</td>
							<td>Sistema</td>
							<td class="open">Aberto</td>
							<td><a href="">Abrir chamado</a></td>
							<td>19/03/2025</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<script defer src="../static/js/scripts.js"></script>
	</body>
</html>
